<div class="<% if action_name === 'search' %>rd-search-results offset-top-60 <% else %> offset-top-0 range <% end %>">
  <% @messages.each do |message| %>
    <div class="cell-xs-6 cell-md-3 offset-top-60">
      <%= message.object %>
      <%= message.content %>
    </div>
  <% end %>
</div>
<div class="text-center offset-top-40">
  <%= will_paginate @messages, :renderer => 'PaginateHelper::LinkRenderer' %>
</div>
