<div class="container">
  <h2 class="divider offset-top-40 offset-md-top-80 text-center">Tout mes hommages</h2>
  <div class="range">
    <div class="cell-md-8 cell-md-preffix-2">
      <%= render 'layouts/search' %>
    </div>
  </div>
  <%= render 'layouts/hommages' %>
  <script>
    $(function(){
      $('.pagination a').attr('data-remote', 'true')
    });
  </script>
</div>