<div class="container">
  <div class="text-center">
    <ol class="breadcrumb">
      <li><%= link_to 'Datafter', root_path%></li>
      <% if current_user %>
        <li><%= link_to "Mes hommages", hommages_path%></li>
      <% end %>
      <li>Hommages</li>
    </ol>
  </div>
  <!-- TODO add banner click: add a new hommage -->
  <h2 class="divider offset-top-40 offset-md-top-80 text-center">Tout les hommages</h2>
  <div class="range">
    <div class="cell-md-8 cell-md-preffix-2">
      <%= render 'layouts/search' %>
    </div>
  </div>
  <%= render 'layouts/hommages' %>
</div>