<div class="container">
  <h2 class="divider offset-top-40 offset-md-top-80 text-center">Recherche</h2>

  <div class="range">
    <div class="cell-md-8 cell-md-preffix-2">
      <%= render 'layouts/search' %>
      <%= render 'layouts/results' %>
    </div>
  </div>
</div>