//
// Utility custom classes
// --------------------------------------------------

/*Divider*/
.divider {
  position: relative;
  &:before {
    position: absolute;
    bottom: -41px;
    left: 50%;
    @include transform(translateX(-50%));
    content: url('images/divider-1.png');
    display: inline-block;

  }
}

.divider-2 {
  position: relative;
  &:before {
    position: absolute;
    bottom: -41px;
    left: 50%;
    @include transform(translateX(-50%));
    content: url('images/divider-2.png');
    display: inline-block;
  }
  &-variant-1 {
    &:before {
      bottom: -32px;
    }
  }
}

.align-stretch {
  @include align-items(stretch);
}

.grid-layout {
  @media (max-width: $screen-xs-min - 1) {
    .col-xs-2 {
      padding: 0 5px;
      &:first-of-type {
        padding-left: 15px;
      }
      &:last-of-type {
        padding-right: 15px;
      }
    }

  }
  @media (max-width: $screen-lg-min - 1) {
    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    h4 {
      font-size: 14px;
    }
  }

}

.percent-before {
  position: relative;
  &:after {
    content: "%";
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    color: $color-matrix;
  }
  &-2 {
    &:after {
      font-size: 36px;
    }
  }
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.display-flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.fd-column {
  flex-direction: column;
}

.height-100 {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.text-white {
  color: #fff;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow: {
    x: hidden;
    y: auto !important;
  };
}

.round{
  border-radius: 50%;
  img{
    border-radius: 50%;
  }
}

.max-width-sm {
  max-width: 15rem;
}

.width-auto{
  width: auto;
  max-width: 100%;
}

.img-link{
  img{
    transition: .3s;
  }
  &:hover{
    img{
      opacity: .5;
    }
  }
}

.margin-bottom{
  margin-bottom: -1px;
}

.padding-left-xs {
  padding-left: .8rem;
}