<div data-height="" data-min-height="" class="swiper-container swiper-slider">
  <div class="swiper-wrapper">
    <div data-slide-bg="/assets/images/slider-1-1920x700.jpg" class="swiper-slide"></div>
    <div data-slide-bg="/assets/images/slider-2-1920x700.jpg" class="swiper-slide"></div>
    <div data-slide-bg="/assets/images/slider-3-1920x700.jpg" class="swiper-slide"></div>
  </div>
  <!-- Swiper Navigation-->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="jumbotron-wrap">
    <div class="jumbotron-variant-1">
      <h1>Un espace hommage<br class="veil reveal-lg-inline"> pour votre être cher</h1>
      <h5>We understand every funeral is different because every person is unique<br class="veil reveal-lg-inline"> and each family situation is different.</h5>
      <div class="btn-group-variant-1"><a href="/contact" class="btn btn-primary btn-sm">contact us</a><a href="/services" class="btn btn-transparent btn-sm">learn more</a></div>
    </div>
  </div>
</div>
<!-- section out advantages-->
<section class="section-60 section-md-83 bg-pampas">
  <div class="shell">
    <h2 class="divider text-center">Our Advantages</h2>
    <div class="range text-center text-md-left">
      <div class="cell-md-4">
        <div class="media media-variant-1">
          <div class="media-left"><span class="icon icon-lg icon-comet thin-icon-checklist icon-round"></span></div>
          <div class="media-body inset-md-right-15">
            <h3>Plan Ahead - Pre-Plan</h3>
            <p>You can make these important decisions in the privacy of your own home with our simple online pre-planning form.</p>
          </div>
        </div>
      </div>
      <div class="cell-md-4">
        <div class="media media-variant-1">
          <div class="media-left"><span class="icon icon-lg icon-comet thin-icon-star icon-round"></span></div>
          <div class="media-body inset-md-right-15">
            <h3>Experience the Difference</h3>
            <p>We offer unique opportunities for families to create healing moments after loss. Our experience will help you discover ways to pay tribute.</p>
          </div>
        </div>
      </div>
      <div class="cell-md-4">
        <div class="media media-variant-1">
          <div class="media-left"><span class="icon icon-lg icon-comet thin-icon-love icon-round"></span></div>
          <div class="media-body inset-md-right-15">
            <h3>Honoring the<br class="veil reveal-lg-inline"> Life</h3>
            <p>Celebrating the life you shared together is the cornerstone of healing after loss.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section plan ahead-->
<!-- RD Parallax-->
<section class="rd-parallax">
  <div data-speed="0.5" data-type="media" data-url="/assets/images/index-1-1920x823.jpg" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center txt-white section-60 section-md-83">
      <h2 class="divider">Plan Ahead</h2>
      <div class="range">
        <div class="cell-md-10 cell-md-preffix-1">
          <h5>Without a doubt, dying is one of the few events in life that is certain to occur. One day you will take your last breath. For most of us, this is a disquieting thought. Yet it is still something you should plan for - if not for your own peace-of-mind, then for the well-being of those you’ll leave behind.</h5>
          <div class="btn-group-variant-1 offset-top-30 offset-lg-top-40"><a href="#" class="btn btn-primary btn-sm btn-min-width-240">Start Pre-Planning</a><a href="services.html" class="btn btn-transparent btn-sm btn-min-width-240">view all services</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section Obituaries-->
<%= render 'layouts/hommages' %>
<!-- section Services & Pricing-->
<%= render 'layouts/services' %>
<!-- section Eco Funeral-->
<!-- RD Parallax-->
<section class="rd-parallax">
  <div data-speed="0.5" data-type="media" data-url="/assets/images/index-6-1920x896.jpg" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center txt-white section-60 section-md-83">
      <h2 class="divider">Eco Funeral</h2>
      <div class="range">
        <div class="cell-md-8 cell-md-preffix-2">
          <h5>Memorise is proud to offer green burials for those who are mindful of the environment. This unique option is the perfect way to leave behind an honorable legacy and a sustainable future for generations to come.</h5>
          <div class="btn-group-variant-1 offset-top-30 offset-lg-top-40"><a href="#" class="btn btn-primary btn-sm btn-min-width-240">schedule ceremony</a><a href="#" class="btn btn-transparent btn-sm btn-min-width-240">learn more</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section Contact Us for Urgent Help-->
<section class="section-83">
  <div class="shell">
    <h2 class="text-center divider">Contact Us for Urgent Help</h2>
    <div class="range">
      <div class="cell-lg-8 cell-lg-preffix-2">
        <%= render 'layouts/formContact' %>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/map' %>