<%= content_for :meta_title, "Nos services Datafter | #{DEFAULT_META["meta_title"]}" %>
<%= content_for :meta_description, "Parcourez tout nos services diponible | #{DEFAULT_META["meta_description"]}" %>
    <div class="shell">
      <h2 class="text-center divider">Mentions légales</h2>
      <!-- Terms-list-->
      <dl class="list-terms offset-top-80">
        <dt class="h3">Informations générales</dt>
        <dd>
          Numéro SIRET : 883 738 643 00013<br>
          Activité Principale Exercée (APE) : 6209Z Autres activités informatiques<br>
          Mail : contact@datafter.fr
        </dd>
        <dt class="h3">Hébergeur</dt>
        <dd>
          GANDI SAS, Société par Actions Simplifiée au capital de 2 300 000 € ayant son siège social au

          63-65 boulevard Masséna Paris (75013) FRANCE<br>
          Siren 423 093 459 RCS PARIS<br>
          n. de TVA FR81423093459<br>
          Tel +33 (0) 1 70.37.76.61<br>
          Fax +33. (0) 1 43 73 18 51
        </dd>
      </dl>
    </div>