<%= content_for :meta_title, "Nos services Datafter | #{DEFAULT_META["meta_title"]}" %>
<%= content_for :meta_description, "Parcourez tout nos services diponible | #{DEFAULT_META["meta_description"]}" %>
<div class="shell">
  <h2 class="text-center divider">Politique de confidentialité</h2>
  <!-- Terms-list-->
  <dl class="list-terms offset-top-80">
    <dt class="h3">1. Informations générales</dt>
    <dd>
      Bienvenue sur notre page Politique de confidentialité! Lorsque vous utilisez nos services de site Web, vous nous faites confiance avec vos informations.
      Cette politique de confidentialité est destinée à vous aider à comprendre quelles données nous collectons,
      pourquoi nous les collectons et ce que nous en faisons. Lorsque vous partagez des informations avec nous,
      nous pouvons rendre nos services encore meilleurs pour vous. Par exemple,
      nous pouvons vous montrer des résultats de recherche et des annonces plus pertinents,
      vous aider à vous connecter avec des personnes ou à rendre le partage avec d'autres plus rapide et plus facile. Lorsque vous utilisez nos services,
      nous voulons que vous sachiez clairement comment nous utilisons les informations et comment vous pouvez protéger votre vie privée.
      C'est important; nous espérons que vous prendrez le temps de le lire attentivement.
      N'oubliez pas que vous pouvez trouver des contrôles pour gérer vos informations et protéger votre vie privée et votre sécurité.
      Nous avons essayé de le garder aussi simple que possible. Concernant l'achat d'un service, aucun remboursement n'est possible car vous utilisez directement les ressources
      de Datafter.
    </dd>
    <dt class="h3">2. Droit d'accès, de rectification et de suppression des données et d'opposition au traitement des données</dt>
    <dd>
      Nos clients ont le droit d'accéder, de corriger et de supprimer les données personnelles les concernant, et de s'opposer au traitement de ces données,
      en adressant à tout moment une demande écrite à contact@datafter.fr, la Société met tout en œuvre pour mettre en place les précautions appropriées pour garantir la sécurité
      et la confidentialité des données personnelles et pour empêcher qu'elles ne soient altérées, corrompues, détruites ou accessibles par des tiers non autorisés.
      Cependant, la Société ne maîtrise pas tous les risques liés à l'utilisation d'Internet et met donc les utilisateurs du Site en garde contre
      les risques potentiels liés au fonctionnement et à l'utilisation d'Internet. Le site peut inclure des liens vers d'autres sites Web ou d'autres sources Internet.
      Comme la Société ne peut pas contrôler ces sites Web et sources externes, la Société ne peut être tenue responsable de la fourniture ou de l'affichage
      de ces sites Web et sources externes, et ne peut être tenue responsable du contenu, de la publicité, des produits, des services ou de tout autre matériel.
      disponibles sur ou à partir de ces sites Web ou de sources externes.

    </dd>
    <dt class="h3">3. Gestion des données personnelles</dt>
    <dd>
      Vous pouvez consulter ou modifier vos données personnelles en ligne pour bon nombre de nos services. Vous pouvez également faire des choix concernant notre collecte
      et notre utilisation de vos données. La façon dont vous pouvez accéder ou contrôler vos données personnelles dépendra des services que vous utilisez.
      Si vous recevez des e-mails promotionnels ou des SMS de notre part et que vous souhaitez vous désinscrire, vous pouvez le faire en suivant les instructions de
      ce message. Vous pouvez également faire des choix concernant la réception des e-mails promotionnels, des appels téléphoniques et du courrier postal en visitant
      et en vous connectant au responsable de la communication promotionnelle de l'entreprise, ce qui vous permet de mettre à jour les informations de contact,
      de gérer les préférences de contact, de désactiver les abonnements par e-mail et de choisir partagez vos coordonnées avec nos partenaires.
      Ces choix ne s'appliquent pas aux communications de service obligatoires qui font partie de certains services de site Web.

    </dd>
    <dt class="h3">4. Informations que nous collectons</dt>
    <dd>
      Notre plateforme collecte des données pour fonctionner efficacement et vous offrir les meilleures expériences avec nos services.
      Vous fournissez certaines de ces données directement, par exemple lorsque vous créez un compte personnel. Nous en obtenons une partie en enregistrant
      la façon dont vous interagissez avec nos services en utilisant, par exemple, des technologies telles que les cookies et en recevant des rapports d'erreur
      ou des données d'utilisation des logiciels exécutés sur votre appareil.

    </dd>
    <dt class="h3">5. Comment nous utilisons vos informations</dt>
    <dd>
      Notre site Web utilise les données que nous collectons à trois fins fondamentales: exploiter notre entreprise et fournir (y compris améliorer et personnaliser)
      les services que nous offrons, envoyer des communications, y compris des communications promotionnelles, et afficher de la publicité. Pour réaliser ces objectifs,
      nous combinons les données que nous collectons via les différents services de site Web que vous utilisez pour vous offrir une expérience plus transparente,
      cohérente et personnalisée. Cependant, pour améliorer la confidentialité, nous avons intégré des protections technologiques et procédurales conçues pour empêcher
      certaines combinaisons de données. Par exemple, nous stockons les données que nous recueillons auprès de vous lorsque vous n'êtes pas authentifié (non connecté)
      séparément des informations de compte qui vous identifient directement, telles que votre nom, votre adresse e-mail ou votre numéro de téléphone.

    </dd>
    <dt class="h3">6. Partager vos informations</dt>
    <dd>
      Nous ne vendons, n’échangeons et ne transférons pas vos informations personnelles identifiables à des tiers.
      Cela ne comprend pas les tierce parties de confiance qui nous aident à exploiter notre site Web ou à mener nos affaires,
      tant que ces parties conviennent de garder ces informations confidentielles.
    </dd>
  </dl>
</div>