<div class="shell">
  <div class="text-center">
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li><span>Services</span></li>
    </ol>
  </div>
  <h2 class="divider offset-lg-top-80 text-center">Services</h2>
  <div class="range">
    <div class="cell-sm-6 cell-md-4">
      <div class="thumbnail"><img src="images/services-1-370x230.jpg" alt="" width="370" height="230"/>
        <div class="caption offset-top-16"><a href="cremation.html" class="h3">Calculator</a>
          <p class="offset-top-16">The Federal Trade Commission regulates funeral homes and has established a series of rules called The Funeral Rule. The Funeral Rule protects consumers’ right to purchase funeral goods and services separately...</p><a href="cremation.html" class="btn-link offset-top-10">Read More</a>
        </div>
      </div>
    </div>
    <div class="cell-sm-6 cell-md-4 offset-top-60 offset-sm-top-0">
      <div class="thumbnail"><img src="images/services-2-370x230.jpg" alt="" width="370" height="230"/>
        <div class="caption offset-top-16"><a href="cremation.html" class="h3">Cremation</a>
          <p class="offset-top-16">Caskets are not required for cremation unless one is desired by the family or there is to be a public viewing before the cremation. All that is required by OSHA is the OSHA approved minimum cardboard container and pouch which are cremated...</p><a href="cremation.html" class="btn-link offset-top-10">Read More</a>
        </div>
      </div>
    </div>
    <div class="cell-sm-6 cell-md-4 offset-top-60 offset-md-top-0">
      <div class="thumbnail"><img src="images/services-3-370x230.jpg" alt="" width="370" height="230"/>
        <div class="caption offset-top-16"><a href="cremation.html" class="h3">Funerals</a>
          <p class="offset-top-16">A formal or informal ceremony or ritual prior to burial, a funeral service often provides a sense of closure to family and friends. Although your faith or culture may dictate some elements of a funeral service, you may want to personalize other...</p><a href="cremation.html" class="btn-link offset-top-10">Read More</a>
        </div>
      </div>
    </div>
    <div class="cell-sm-6 cell-md-4 offset-top-60">
      <div class="thumbnail"><img src="images/services-4-370x230.jpg" alt="" width="370" height="230"/>
        <div class="caption offset-top-16"><a href="cremation.html" class="h3">Pre-arrangement</a>
          <p class="offset-top-16">Today, more people are recognizing that planning a funeral in advance of need demonstrates love and consideration toward their family members. It is a thoughtful decision that reduces the stress of indecision and uncertainty when death occurs...</p><a href="cremation.html" class="btn-link offset-top-10">Read More</a>
        </div>
      </div>
    </div>
    <div class="cell-sm-6 cell-md-4 offset-top-60">
      <div class="thumbnail"><img src="images/services-5-370x230.jpg" alt="" width="370" height="230"/>
        <div class="caption offset-top-16"><a href="cremation.html" class="h3">Eco Funeral</a>
          <p class="offset-top-16">The essence of a green funeral is age-old elemental simplicity. It rejects the so-called traditional funeral with its stuffy, urban look, in favor of an outdoorsy, homespun, back-to-nature look. It prefers an unspoilt landscape to that of a conventional...</p><a href="cremation.html" class="btn-link offset-top-10">Read More</a>
        </div>
      </div>
    </div>
    <div class="cell-sm-6 cell-md-4 offset-top-60">
      <div class="thumbnail"><img src="images/services-6-370x230.jpg" alt="" width="370" height="230"/>
        <div class="caption offset-top-16"><a href="cremation.html" class="h3">Burial at the Sea</a>
          <p class="offset-top-16">The ocean peace and tranquility have brought enlightenment and comfort to mankind for centuries. Eternally changing, forever enduring, the world’s oceans are a final resting place for countless generations. We offer attended or unattended...</p><a href="cremation.html" class="btn-link offset-top-10">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>