<section class="section-53 bg-image bg-image-1 section-bottom-88 ai-center display-flex height-100">
    <div class="container text-center txt-white">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="h1">Merci de votre message</div>
          <div class="h2 divider">Nous allons le traiter dès réception du mail.</div>
          <div class="h5 offset-top-90">Vous recevrez une réponse très bientôt</div>
          <%= link_to 'Accueil', root_path, :class => "btn-sm btn btn-primary btn-min-width-240 offset-top-42" %>
        </div>
      </div>
    </div>
</section>