<div class="row">
  <% resource.each do |recipient| %>
    <div class="col-md-4">
      <div class="panel-heading preview">
        <p><%= recipient.recipient %></p>
        <p><%= recipient.status %></p>
      </div>
      <%= link_to recipient, class: "btn-width-full btn btn-transparent-2 btn-xxs", remote: true, method: :delete, data: {confirm: "Attention vous allez supprimer cette photo"} do %>
        Suppression
      <% end %>
    </div>
  <% end %>
</div>