<div class="row">
  <% if resource and defined?(resource.last_name) %>
    <div class="col-md-4">
      <div class="panel-heading preview">
        <%= image_tag avatar_url(resource) %>
      </div>
      <%= link_to resource, class: "btn-width-full btn btn-transparent-2 btn-xxs", remote: true, method: :remove_avatar, data: {confirm: "Attention vous allez supprimer cette photo"} do %>
        Suppression
      <% end %>
    </div>
  <% else %>
    <% resource.each do |photo| %>
      <div class="col-md-4">
        <div class="panel-heading preview">
          <%= image_tag photo.image.url() %>
        </div>
        <%= link_to photo, class: "btn-width-full btn btn-transparent-2 btn-xxs", remote: true, method: :delete, data: {confirm: "Attention vous allez supprimer cette photo"} do %>
          Suppression
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>