<%= content_for :meta_title, "Recherche d'un hommage pour un animal sur Datafter | #{DEFAULT_META["meta_title"]}" %>
<%= content_for :meta_description, "Retrouvez un hommage pour un animal spécifique sur notre plateforme | #{DEFAULT_META["meta_description"]}" %>
<div class="container">
  <h2 class="divider offset-top-40 offset-md-top-80 text-center">Recherche</h2>

  <div class="range">
    <div class="cell-md-8 cell-md-preffix-2">
      <%= render 'layouts/searchanimal' %>
      <%= render 'layouts/resultsanimal' %>
    </div>
  </div>
</div>