<%= form_tag subscriber_path(1),  method: :put, id: "payment-form" do %>
  <%= javascript_include_tag 'stripe' %>
  <div class="offset-top-48 form-group">
    <label for="email" for="card-element" class="form-label">Adresse e-mail</label>
    <div id="card-element">
      <input type="email" name="email" placeholder="adresse e-mail" class="form-control"/>
    </div>
    <div class="offset-top-48 form-group">
      <label for="number" id="credit-card-number" class="form-label">Numéro carte de crédit</label>
      <input type="text" class="form-control" id="security-code" placeholder="Numéro carte de crédit" data-stripe="number" />
      <!-- A Stripe Element will be inserted here. -->
    </div>
    <div class="range">
      <div class="cell-sm-6">
        <div class="form-group">
          <label for="security-code" class="form-label">Code de sécurité</label>
          <input type="text" class="form-control" id="security-code" placeholder="CVC" data-stripe="cvc" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="date-exp" class="form-label">Expiration</label>
      <div class="range">
        <div class="cell-sm-6">
          <%= select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: "exp-month"}) %>
        </div>
        <div class="cell-sm-6">
          <%= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"}) %>
        </div>
      </div>
    </div>
    <div for="credit_card" id="card-errors" class="payment-errors" role="alert"></div>
  </div>
<% end %>