@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

.container {
  width: 80%;
}


.avatar-small {
  width: 25px;
}
.avatar-medium {
  width: 48px;
}
.avatar-large {
  width: 68px;
}
.avatar-full {
  width: 100%;
}