<div class="cell-sm-12">
  <div class="form-group">
    <label for="input-recipient" class="form-label">Destinataire(s)</label>
    <div class="border-default display-flex">
      <p id="list-recipient" class="max-height-15rem overflow-y-auto">
        <%= render render_src, resource: resource %>
      </p>
      <div class="flex-1 display-flex">
        <input class="flex-1 min-width-24rem form-control" type="email" id="input-recipient" placeholder="Ajouter un destinataires" />
        <button type="button" onclick="addRecipient()" id="recipients_messages" class="btn-height-50 btn btn-transparent-2 ">Ajouter</button>
      </div>
    </div>
  </div>
</div>