<div class="text-center offset-sm-top-80 offset-top-60">
  <ul class="pagination">
    <li class="disabled"><span class="fa-chevron-left"></span></li>
    <li class="active"><span>1</span></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><span class="fa-chevron-right"></span></a></li>
  </ul>
</div>