<section class="section-83">
  <div class="shell">
    <h2 class="text-center divider">Services et tarifs</h2>
    <div class="range">
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Hommage</h3>
            <ul class="list-marked offset-top-50">
              <li>Description</li>
              <li>Photos</li>
              <li>QR code sur la pierre tombale</li>
              <li>Possibilité de livraison de fleur</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">29.00€</div><a href="#" class="btn btn-primary btn-xs offset-top-12">Choisir ce service</a>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Mémoire</h3>
            <ul class="list-marked offset-top-50">
              <li>Services of Director & Staff</li>
              <li>Dressing & Cosmetizing</li>
              <li>Cremation Process</li>
              <li>Private Family Goodbye</li>
              <li>Transportation Hearse for Casket</li>
              <li>Container Choice of 11 Urns</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">Gratuit</div><a href="#" class="btn btn-primary btn-xs offset-top-12">Choisir ce service</a>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Message</h3>
            <ul class="list-marked offset-top-50">
              <li>Services of Director & Staff</li>
              <li>Cremation Process</li>
              <li>Dressing & Cosmetizing</li>
              <li>Flowers</li>
              <li>Transportation Hearse for Casket</li>
              <li>Private Family Goodbye</li>
              <li>Container Choice of 32 Urns</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">Gratuit</div><a href="#" class="btn btn-primary btn-xs offset-top-12">Choisir ce service</a>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Livraison de fleur</h3>
            <ul class="list-marked offset-top-50">
              <li>Services of Director & Staff</li>
              <li>Cremation Process</li>
              <li>Dressing & Cosmetizing</li>
              <li>Transportation Hearse for Casket</li>
              <li>Private Family Goodbye</li>
              <li>Container Choice of 32 Urns</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">Selon bouquet</div><a href="#" class="btn btn-primary btn-xs offset-top-12">Choisir ce service</a>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="text-center offset-top-52"><a href="cremation.html" class="btn btn-sm btn-transparent-2">price calculator</a></div>-->
  </div>
</section>