<section class="section-83">
  <div class="shell">
    <h2 class="text-center divider">Services et tarifs</h2>
    <div class="range">
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Hommage</h3>
            <ul class="list-marked offset-top-50">
              <li>Description</li>
              <li>Photo</li>
              <li>Rendre hommage à un être cher afin d'honorer sa mémoire</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">4.99€</div><p class="justification">Afin de maintenir le site</p><%= link_to 'Choisir ce service', new_hommage_path, :class => "btn btn-primary btn-xs offset-top-12" %>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Mémoire</h3>
            <ul class="list-marked offset-top-50">
              <li>Laissez une trace de votre existence</li>
              <li>Ecrivez vos mémoires</li>
              <li>Création automatique de votre page hommage après votre décès</li>
              <li>Affichage ou non en fonction de votre choix sur votre page hommage</li>
              <li>Indiquer le choix de vos funérails : Enterrement, incinération</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">Bientôt disponible</div><!--<a href="#" class="btn btn-primary btn-xs offset-top-12">Choisir ce service</a>-->
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Message</h3>
            <ul class="list-marked offset-top-50">
              <li>Transmettez des messages personnalisés à vos proches, qui leurs seront transmis après votre décès</li>
              <li>Indiquer leurs adresses mails</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">Bientôt disponible</div><!--<a href="#" class="btn btn-primary btn-xs offset-top-12">Choisir ce service</a>-->
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Livraison de fleurs</h3>
            <ul class="list-marked offset-top-50">
              <li>Services de livraison de fleurs sur les pierres tombales</li>
              <li>Processus simple et rapide</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">Bientôt disponible</div><!--<a href="#" class="btn btn-primary btn-xs offset-top-12">Choisir ce service</a>-->
          </div>
        </div>
      </div>
    </div>
    <!--<div class="text-center offset-top-52"><a href="cremation.html" class="btn btn-sm btn-transparent-2">price calculator</a></div>-->
  </div>
</section>