<section class="section-83">
  <div class="shell">
    <h2 class="text-center divider">Services & Pricing</h2>
    <div class="range">
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Cremation Only</h3>
            <ul class="list-marked offset-top-50">
              <li>Services of Director & Staff</li>
              <li>Initial Transfer of Deceased</li>
              <li>Cremation Process</li>
              <li>Transportation Hearse for Casket</li>
              <li>Minimal Container</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">$1799.00</div><a href="#" class="btn btn-primary btn-xs offset-top-12">order this service</a>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Memorial Service</h3>
            <ul class="list-marked offset-top-50">
              <li>Services of Director & Staff</li>
              <li>Dressing & Cosmetizing</li>
              <li>Cremation Process</li>
              <li>Private Family Goodbye</li>
              <li>Transportation Hearse for Casket</li>
              <li>Container Choice of 11 Urns</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">$2979.00</div><a href="#" class="btn btn-primary btn-xs offset-top-12">order this service</a>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Deluxe Cremation</h3>
            <ul class="list-marked offset-top-50">
              <li>Services of Director & Staff</li>
              <li>Cremation Process</li>
              <li>Dressing & Cosmetizing</li>
              <li>Flowers</li>
              <li>Transportation Hearse for Casket</li>
              <li>Private Family Goodbye</li>
              <li>Container Choice of 32 Urns</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">$3599.00</div><a href="#" class="btn btn-primary btn-xs offset-top-12">order this service</a>
          </div>
        </div>
      </div>
      <div class="cell-sm-6 cell-lg-3 offset-top-50 offset-lg-top-0 reveal-flex align-stretch">
        <div class="pricing-table">
          <div class="pricing-table-body">
            <h3 class="divider-2 text-center">Burial at the Sea</h3>
            <ul class="list-marked offset-top-50">
              <li>Services of Director & Staff</li>
              <li>Cremation Process</li>
              <li>Dressing & Cosmetizing</li>
              <li>Transportation Hearse for Casket</li>
              <li>Private Family Goodbye</li>
              <li>Container Choice of 32 Urns</li>
            </ul>
          </div>
          <div class="pricing-table-footer text-center">
            <div class="h4">$1799.00</div><a href="#" class="btn btn-primary btn-xs offset-top-12">order this service</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center offset-top-52"><a href="cremation.html" class="btn btn-sm btn-transparent-2">price calculator</a></div>
  </div>
</section>