<ul class="list-inline offset-top-23">
  <li>
    <a class="btn-xs icon icon-border icon-google" href="<%= user_google_oauth2_omniauth_authorize_path %>">Connexion avec <icon class="fa-google"></icon></a>
  </li>
  <li>
    <a class="btn-xs icon icon-border icon-facebook" href="<%= user_facebook_omniauth_authorize_path %>">Connexion avec <icon class="fa-facebook"></icon></a>
  </li>
</ul>